@import url(/global/css/global.css);

.capa-ass {
  background: url(/produtos/consultoria/img/capa-ass.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-cap {
  background: url(/produtos/consultoria/img/capa-cap.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-ment {
  background: url(/produtos/consultoria/img/capa-ment.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-rs {
  background: url(/produtos/consultoria/img/capa-rs.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-ta {
  background: url(/produtos/consultoria/img/capa-ta.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-fc {
  background: url(/produtos/consultoria/img/capa-fc.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.capa-fs {
  background: url(/produtos/consultoria/img/capa-fs.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.box {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background: white;
  border: 1px solid #dcdeea;
  transition: .2s all;
}

.box-wrap:hover .box {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}

.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.box-wrap .box i {
  font-size: 55px;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px 15px;
  width: 100%;
}

@media screen and (min-width:1380px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 415px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  color: white;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 40px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 18px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}


:root {
  --accent: #c7ecee;
  --accentComplimentary: #7ed6df;
}


.card {
  border-radius: 35px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  width: 300px;
}

.card__top {
  position: relative;
  padding: 35px 35px 70px 35px;
  z-index: 0;
  display: flex;
  align-items: flex-start;
}

.card__top:has(.card__figure) {
  aspect-ratio: 3/2;
}

.card__bottom {
  position: relative;
  margin-top: -35px;
  padding: 25px;
  border-radius: 35px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  z-index: 1;
}

.card__figure {
  position: absolute;
  inset: 0;
  mix-blend-mode: lighten;
  opacity: 0.5;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__tag {
  padding: 10px 20px;
  border: 1px solid currentColor;
  border-radius: 2em;
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 1.50rem;
  font-weight: 800;
  color: white;
}

.card__text {
  font-size: 1rem;
  color: white;
}

.card--reverse {
  flex-direction: column-reverse;
}

.card--reverse .card__bottom {
  margin-top: 0;
  margin-bottom: -35px;
}

.card--reverse .card__top {
  position: relative;
  padding: 70px 35px 35px 35px;
  align-items: flex-end;
}

.card--primary {
  --accent: var(--blue-one);
  --accentComplimentary: var(--blue-two);
}

.card--secondary {
  --accent: var(--green-one);
  --accentComplimentary: var(--blue-one);
}

.card--tertiary {
  --accent: var(--blue-two);
  --accentComplimentary: var(--purple-one);
}

.number {
  color: rgba(255, 255, 255, 50%);
  font-size: 170px;
  font-weight: 900;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
}

.bg-depoimentos {
  background: url(/produtos/hr-tech/img/bg-depoimentos.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  animation: 3s infinite alternate floating;
}

.bg-circle {
  background: url(/global/img/home/bg-circle.png) center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  animation: 3s infinite alternate floating;
}

.box-depoimentos {
  background: white;
  border: 2px solid #bcc0d6;
}

@media screen and (min-width: 200px) and (max-width: 960px) {}