@import url(/global/css/global.css);

.capa-parceiro {
    background: url(/nossas-vagas/img/capa-vagas.png) center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 200px) and (max-width: 960px) {
    .capa-parceiro {
        background: url(/nossas-vagas/img/capa-responsive.png) center center no-repeat;
    }
}