:root {
    --purple-one: #6F3BEF;
    --blue-one: #0900E9;
    --blue-two: #00B6F5;
    --green-one: #45D2C3;
    --pink-one: #F43577;
    --yellow-one: #F5B800;
    --gray-text: #7F7F7F;
    --gray-1: #BFBFBF;

}

.cor-purple {
    color: var(--purple-one);
}
.cor-blue-one {
    color: var(--blue-one);
}
.cor-blue-two {
    color: var(--blue-two);
}
.cor-green {
    color: var(--green-one);
}
.cor-pink {
    color: var(--pink-one);
}
.cor-yellow {
    color: var(--yellow-one);
}

.cor-white-transp {
    color: rgba(255, 255, 255, 50%);
}

.bg-purple {
    background: var(--purple-one);
}
.bg-blue-one {
    background: var(--blue-one);
}
.bg-blue-two {
    background: var(--blue-two);
}
.bg-green {
    background: var(--green-one);
}
.bg-pink {
    background: var(--pink-one);
}
.bg-yellow {
    background: var(--yellow-one);
}
.bg-white {
    background: white;
}
.bg-gray-1 {
    background: #f2f3f9;
}
.bg-gray-2 {
    background: #ddd;
}
.bg-gray-3 {
    background: #A6A6A6;
}
.bg-gray-4 {
    background: #bcc0d6;
}

.border-purple {
    border: 1px solid var(--purple-one);
}
.border-green {
    border: 1px solid var(--green-one);
}
.border-blue-one {
    border: 1px solid var(--blue-one);
}
.border-blue-two {
    border: 1px solid var(--blue-two);
}